<?xml version="1.0" encoding="utf-8"?>
<manifest package="loopeer.com.testconstraintlayout"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- This service is only used on devices with API v17+ -->
        <service
            android:name=".MyDaydreamService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <activity android:name=".TestSwipeRecyclerActivity"/>
        <activity android:name=".TestSpringRecyclerActivity">
        </activity>
    </application>

</manifest>